body {
    background-color: rgb(127, 209, 4);
}

.container {
    height: 100vh;
}


h1 {
    background-color: rgb(165, 126, 0);
    text-align:center;
    justify-content: center;

}

.actionContainer {
    color: black;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    align-content:flex-end;
    justify-content: flex-end;
    cursor: pointer;
    height: 50px;
    width: 200px;
    
}

